<!doctype html>
<html ng-app="demo">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <meta name="viewport" content="width=device-width, initial-scale=1">


    <script src="StrategyController.js"></script>
    <style>
    html body {
      font-family: Arial, Helvetica, sans-serif
    }

    fieldset {
      padding: 0;
      border: 0;
      margin-top: 25px;
      font-size: 75%;
    }

    .container {
      width: 90%;
      margin: auto;
	  display: flex;
    }

    .peopleContent {
      flex-grow: 1;
    }

    .portrait {
      width: 120px;
    }

    .peopleItem {
      width: 350px;
      border: 1px solid #777777;
      background: #FAFAFA;
      margin: 3px;
      padding: 2px;
      display: flex;
    }

    .peopleTitle {
      width: 100%;
      background: #FAFAFA;
      margin: 3px;
      padding: 2px;
      display: flex;
    }

    #editDialog {
      display: none;
    }

    #addDialog {
      display:none ;
    }




    .matrixItem {
      background: RED;
      /*width: 30px;
      border: 1px solid #777777;

      margin: 0px;
      padding: 0px;
      display: flex;*/
    }







    </style>

</head>
<body>

<div class="container">

    <div class="page-header">
        <h2>Cloud Baseball App</h2>
    </div>
</div>
<div class="row">
<div ng-controller="Baseball" ng-init="goStrategy()">


    <!--FORM1-->

    <div class="col-sm-5 col-md-offset-2" ng-show="showNewStrategy">
        <div class="panel panel-info" class="click-element animate-show">

            <div class="panel-heading">
                <h3 class="panel-title">
                    <div id="formTitle" ng-model="formTitle" style="padding:10px"> {{formTitle}}

                    </div>
                </h3>
            </div>

            <div class="panel-body">

                <form class="form-horizontal" name="form" novalidate ng-submit="form.$valid && submitStrategy()">


                    <div class="form-group" ng-class="{ 'has-error': form.rows.$invalid && form.$submitted}">
                        <label class="control-label col-xs-3" for="rows">Rows:</label>
                        <div class="col-xs-5">
                            <input type="text" id="rows" name="rows" ng-model="rows" value=""
                                   class="form-control input-sm"
                                   required>
                        </div>
                    </div>


                    <div class="form-group" ng-class="{ 'has-error': form.type.$invalid && form.$submitted}">
                        <label class="control-label col-xs-3" for="type">Type:</label>
                        <div class="col-xs-5">

                            <select id="type" name="type" value="type" ng-model="type" class="form-control input-sm"
                                    required>
                                <option value="HIT">Hit</option>
                                <option value="PITCH">Pitch</option>

                            </select>
                        </div>
                    </div>

                    <br>
                    <div style=" text-align: center;">


                        <input type="button" tabindex="-1" class="btn btn-default" value="Cancel" ng-click="goHome()">
                        <input type="submit" tabindex="-1" class="btn btn-success" value="Continue">


                    </div>

                </form>
            </div>
        </div>
    </div>
    <!--GENERATOR-->
    <div class="col-sm-5 col-md-offset-2" ng-show="showStrategyPlayList">

        <form class="form-horizontal" name="form2" novalidate ng-submit="form2.$valid && generateStrategy(strategy)">
            <div class="panel panel-info " class="click-element animate-show">

                <div class="panel-heading">
                    <h3 class="panel-title">
                        <div id="formTitle2" ng-model="formTitle" style="padding:10px"> {{formTitle}}

                        </div>
                    </h3>
                </div>


                <div class="panel-body">


                    <div class="form-group">
                        <label class="control-label col-xs-3" for="rows">Rows:</label>
                        <div class="col-xs-5">
                            {{strategy.rows}}
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-xs-3" for="type">Type:</label>
                        <div class="col-xs-5">
                            {{strategy.type}}


                        </div>
                    </div>

                    <br>

                    <div style="text-align: center;">


                        <input type="submit" tabindex="-1" class="btn btn-success" value="Generate">
                        <input type="button" tabindex="-1" class="btn btn-default" value="Cancel"
                               ng-click="goStrategy()">


                    </div>


                </div>

            </div>










            <div class="panel panel-info" class="click-element animate-show">
                <table class="table-bordered table table-hover table-condensed">
                    <thead>
                    <tr class="info">

                        <th>Name</th>



                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="player in strategy.playerList">

                        <td>
                            <div>{{player.fullName}}</div>

                        </td>

                    </tr>
                    </tbody>
                </table>


            </div>





            <div class="panel panel-info" class="click-element animate-show">
                <table class="table-bordered table table-hover table-condensed">
                    <thead>
                    <tr class="info">
                        <th>Code</th>
                        <th>Name</th>
                        <th>No. of codes</th>


                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="strategyPlay in strategy.strategyPlayList">
                        <td>
                            <div>{{strategyPlay.play.code}}</div>

                        </td>
                        <td>
                            <div>{{strategyPlay.play.name}}</div>

                        </td>
                        <td >
                            <div ng-class="{ 'has-error': strategyPlay.quantity==null && form2.$submitted}">
                                <div class="col-xs-5">

                                    <input type="number" name="quantity" ng-model="strategyPlay.quantity"
                                           class="form-control input-sm" required/>
                                </div>
                            </div>
                        </td>


                    </tr>
                    </tbody>
                </table>


            </div>


        </form>
    </div>


    <!--MATRIX-->


    <div class="col-sm-5 col-md-offset-2" ng-show="showStrategyResult">
        <div class="panel panel-info " class="click-element animate-show">

            <div class="panel-heading">
                <h3 class="panel-title">
                    <div ng-model="formTitle" style="padding:10px"> {{formTitle}}

                    </div>
                </h3>
            </div>


            <div class="panel-body">

                <form class="form-horizontal" name="form3" novalidate >
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="rows">Rows:</label>
                        <div class="col-xs-5">
                            {{strategy.rows}}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-3" for="rows">Width:</label>
                        <div class="col-xs-5">
                            {{strategy.width}}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-3" for="type">Type:</label>
                        <div class="col-xs-5">
                            {{strategy.type}}


                        </div>
                    </div>


                    <br>

                    <div style="text-align: center;">


                        <input type="button" tabindex="-1" class="btn btn-default" value="Cancel"
                               ng-click="goStrategy()">


                    </div>
                </form>

            </div>


        </div>

        <div  ng-repeat="strategyMatrix in strategy.strategyMatrixList">
            <table id="matrix" class="table-bordered table table-condensed">
            <caption>Matrix for:  {{ strategyMatrix.player.fullName }} </caption>
            <thead>
            <tr>
                <th ng-repeat="strategyMatrixCell in strategyMatrix.strategyMatrixCellListHeader"
                    clas="panel-heading">
                    {{ strategyMatrixCell.value }}
                </th>
            </tr>
            </thead>

            <tbody>


            <tr ng-repeat="strategyMatrixCell in strategyMatrix.strategyMatrixCellListValue">
                <td ng-repeat="(key,val) in strategyMatrixCell" style="background-color:{{val.color}};">
                    {{val.value}}
                </td>
            </tr>


            </tbody>
        </table>
        </div>

        <table id="list" class="table-bordered table table-condensed"
               aria-orientation="vertical">

            <caption>List</caption>
            <tbody>


            <tr ng-repeat="strategyPlay in strategy.strategyPlayList">
                <td style="background-color:{{strategyPlay.play.color}};">{{strategyPlay.play.code}}</td>
                <td style="background-color:{{strategyPlay.play.color}};">{{strategyPlay.play.name}}</td>
                <td ng-repeat="(key,val) in strategyPlay.playCodeList"
                    style="background-color:{{strategyPlay.play.color}};">{{val.position}}
                </td>
            </tr>


            </tbody>
        </table>


    </div>


    <!--SET NUMBER OF CODE TO PLAY-->


</div>
</div>
<div class="container">
    <div class="footer">


            <h5>Powered by <a href="http://www.medellinjug.org" target="_blank">MedellinJUG.org</a></h5>
            <h6>2017</h6>

    </div>
</div>


</body>


</html>